* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.app-main {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% auto;
  background: url("../assets/home/background-home-mobile.jpg") no-repeat center;
  background-size: cover;

  @import "./navbar.scss";
  @import "./home.scss";
  @import "./destination.scss";
  @import "./crew.scss";
  @import "./technology.scss";
}
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateX(-10deg);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@media (min-width: 768px) {
  .app-main {
    background: url("../assets/home/background-home-tablet.jpg") no-repeat
      center;
    background-size: cover;
  }
}
@media (min-width: 1200px) {
  .app-main {
    background: url("../assets/home/background-home-desktop.jpg") no-repeat
      center;
    background-size: cover;
  }
}
