.destination-main {
  grid-column: 1/2;
  grid-row: 2/3;
  animation: transitionIn 700ms;
  .destination-container {
    width: 80%;
    margin: auto;
    height: 100%;
    color: #fff;
    text-align: center;
    h2 {
      font-family: "Barlow Condensed";
      font-size: 16px;
      letter-spacing: 4px;
      font-weight: 400;
      span {
        font-family: "Barlow Condensed";
        font-size: 16px;
        letter-spacing: 4px;
        font-weight: bold;
        opacity: 20%;
      }
    }
    .content-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      .images {
        img {
          animation: transitionIn 700ms;
        }
      }
      .names {
        h1 {
          animation: transitionIn 700ms;
        }
      }
      .paragraphs {
        p {
          animation: transitionIn 700ms;
        }
      }
      .distance {
        h3 {
          animation: transitionIn 700ms;
        }
      }
      ul {
        list-style: none;
        display: flex;
        gap: 10px;
        li {
          font-family: "Barlow Condensed";
          font-size: 14px;
          letter-spacing: 3px;
          color: #d0d6f9;
        }
        .active {
          padding-bottom: 2px;
          border-bottom: 2px solid #fff;
        }
      }
      h1 {
        font-family: "Bellefair";
        font-size: 56px;
        font-weight: 400;
      }
      p {
        font-family: "Barlow";
        font-size: 15px;
        color: #d0d6f9;
        line-height: 25px;
        word-spacing: 2px;
      }
      hr {
        width: 100%;
        opacity: 20%;
      }
      h3 {
        font-family: "Barlow Condensed";
        font-size: 14px;
        font-weight: 400;
        color: #d0d6f9;
        span {
          font-family: "Bellefair";
          font-size: 28px;
          color: #fff;
        }
      }
    }
  }
}
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateX(-10deg);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
