.destination-main {
  grid-column: 1/2;
  grid-row: 2/3;
  background: url("../assets/destination/background-destination-mobile.jpg")
    repeat center;
  background-size: cover;
  animation: transitionIn 700ms;
  .destination-container {
    width: 80%;
    margin: auto;
    height: 100%;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    // PADDDINGGG TRYINGGGG
    box-sizing: border-box;
    padding: 30px 0;
    h2 {
      font-family: "Barlow Condensed";
      font-size: 16px;
      letter-spacing: 4px;
      font-weight: 400;
      span {
        font-family: "Barlow Condensed";
        font-size: 16px;
        letter-spacing: 4px;
        font-weight: bold;
        opacity: 20%;
      }
    }
    .content-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      .images {
        img {
          animation: transitionIn 700ms;
        }
      }
      .details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        .names {
          h1 {
            font-family: "Bellefair";
            font-size: 56px;
            font-weight: 400;
            animation: transitionIn 700ms;
          }
        }
        .paragraphs {
          p {
            font-family: "Barlow";
            font-size: 15px;
            color: #d0d6f9;
            line-height: 25px;
            word-spacing: 2px;
            animation: transitionIn 700ms;
          }
        }
        hr {
          width: 100%;
          opacity: 0.2;
        }
        .distance {
          .distance-container {
            h3 {
              font-family: "Barlow Condensed";
              font-size: 14px;
              font-weight: 400;
              color: #d0d6f9;
              span {
                font-family: "Bellefair";
                font-size: 28px;
                color: #fff;
              }
              animation: transitionIn 700ms;
            }
          }
        }
        ul {
          list-style: none;
          display: flex;
          gap: 10px;
          li {
            font-family: "Barlow Condensed";
            font-size: 14px;
            letter-spacing: 3px;
            color: #d0d6f9;
            cursor: pointer;
          }
          .active {
            padding-bottom: 2px;
            border-bottom: 2px solid #fff;
          }
        }
      }

      // h1 {
      //   font-family: "Bellefair";
      //   font-size: 56px;
      //   font-weight: 400;
      // }
      // p {
      //   font-family: "Barlow";
      //   font-size: 15px;
      //   color: #d0d6f9;
      //   line-height: 25px;
      //   word-spacing: 2px;
      // }

      // h3 {
      //   font-family: "Barlow Condensed";
      //   font-size: 14px;
      //   font-weight: 400;
      //   color: #d0d6f9;
      //   span {
      //     font-family: "Bellefair";
      //     font-size: 28px;
      //     color: #fff;
      //   }
      // }
    }
  }
}
@media (min-width: 768px) {
  .destination-main {
    background: url("../assets/destination/background-destination-tablet.jpg")
      repeat center;
    background-size: cover;
    .destination-container {
      .content-container {
        .images {
          img {
            width: 300px;
            height: 300px;
          }
        }
        .details {
          ul {
            list-style: none;
            display: flex;
            gap: 40px;
          }
          .distance {
            .distance-container {
              display: flex;
              gap: 50px;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 1200px) {
  .destination-main {
    background: url("../assets/destination/background-destination-desktop.jpg")
      repeat center;
    background-size: cover;
    animation: none;
    .destination-container {
      text-align: left;
      .content-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
        .images {
          img {
            width: 450px;
            height: 450px;
          }
        }
        .details {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 40px;
          width: 40%;
          .names {
            h1 {
              font-family: "Bellefair";
              font-size: 70px;
              font-weight: 400;
              animation: transitionIn 700ms;
            }
          }
          ul {
            list-style: none;
            display: flex;
            gap: 40px;
            li {
              font-family: "Barlow Condensed";
              font-size: 20px;
              letter-spacing: 3px;
              color: #d0d6f9;
              cursor: pointer;
            }
          }
          .distance {
            .distance-container {
              display: flex;
              gap: 50px;
              h3 {
                font-family: "Barlow Condensed";
                font-size: 14px;
                font-weight: 400;
                color: #d0d6f9;
                span {
                  font-family: "Bellefair";
                  font-size: 28px;
                  color: #fff;
                }
                animation: transitionIn 700ms;
              }
            }
          }
        }
      }
    }
  }
}
