.navbar-main {
  grid-column: 1/2;
  grid-row: 1/2;
  .navbar-container {
    width: 80%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navbar-items {
      display: none;
    }
    .sidenav {
      color: #fff;
      position: fixed;
      right: -100%;
      top: 0;
      width: 70%;
      height: 100%;
      backdrop-filter: blur(30px);
      ul {
        list-style: none;
        padding-top: 90px;
        li {
          padding: 20px;
        }
      }
    }
    .sidenav-show {
      position: fixed;
      right: 0;
      top: 0;
      width: 70%;
      height: 100%;
      backdrop-filter: blur(30px);
      display: block;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 500ms;
      .close-icon {
        position: fixed;
        right: 30px;
        top: 40px;
      }
      ul {
        list-style: none;
        padding-top: 90px;
        li {
          letter-spacing: 2px;
          width: 100%;
          a {
            font-family: "Barlow Condensed";
            font-size: 16px;
            color: #fff;
            text-decoration: none;
            display: block;
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            padding-left: 20px;
          }
          a.active {
            border-right: 6px solid #fff;
          }
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .navbar-main {
    .navbar-container {
      .burger-icon {
        display: none;
      }
      .navbar-items {
        display: block;
        position: fixed;
        right: 0;
        top: 0;
        width: 70%;
        height: 10%;
        background: rgba(151, 151, 151, 0.2);
        backdrop-filter: blur(30px);
        ul {
          list-style: none;
          height: 100%;
          letter-spacing: 2px;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          li {
            a {
              font-family: "Barlow Condensed";
              font-size: 14px;
              color: #fff;
              text-decoration: none;
              display: block;
              width: 100%;
              height: 88px;
              display: flex;
              justify-content: center;
              align-items: center;
              box-sizing: border-box;
            }
            a.active {
              border-bottom: 6px solid #fff;
            }
          }
        }
      }
    }
  }
}
