.technology-main {
  grid-column: 1/2;
  grid-row: 2/3;
  background: url("../assets/technology/background-technology-mobile.jpg")
    repeat center;
  background-size: cover;
  animation: transitionIn 700ms;
  .technology-container {
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    h2 {
      font-family: "Barlow Condensed";
      font-size: 16px;
      letter-spacing: 4px;
      font-weight: 400;
      span {
        font-family: "Barlow Condensed";
        font-size: 16px;
        letter-spacing: 4px;
        font-weight: bold;
        opacity: 0.2;
      }
    }
    .images {
      width: 100%;
      img {
        animation: transitionIn 700ms;
      }
    }
    .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.5);
        background: transparent;
        color: #fff;
      }
      button.active {
        background: #fff;
        color: #000;
      }
    }
    .content-container {
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      .title {
        h2 {
          font-family: "Bellefair";
          font-size: 16px;
          opacity: 0.5;
          letter-spacing: 1px;
          font-weight: 400;
          margin-bottom: 10px;
        }
        h1 {
          font-family: "Bellefair";
          font-size: 24px;
          font-weight: 400;
          animation: transitionIn 700ms;
        }
      }
      .paragraphs {
        p {
          font-family: "Barlow";
          font-size: 15px;
          color: #d0d6f9;
          line-height: 25px;
          word-spacing: 2px;
          animation: transitionIn 700ms;
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .technology-main {
    background: url("../assets/technology/background-technology-tablet.jpg")
      repeat center;
    background-size: cover;

    .technology-container {
      .images {
        img {
          height: 300px;
        }
      }
    }
  }
}
